
/*

style.css
GA Unit 9 Project
Author: Chad D.Mills

*/


ul {
  list-style-type: none;
}

 #map {
        height: 300px;
      }


/* CLASS: Venue Title */
.venueTitle

{
 color: Black;
 font-family: Roboto;
}

/* CLASS: Venue Tag Line */
.venueTagLine

{
 color: Gray;
 font-family: Roboto;
}


/* CLASS: Section Title */
.sectionTitle

{
 color: Black;
 font-family: Roboto;
}

/* CLASS: Fuction Name */
.functionName

{
 color: Purple;
 font-family: Roboto;
 font-size: 18px;
}

/* CLASS: Customer Comments*/
.customerComment

{
 color: Black;
 font-family: Roboto;
 font-weight: Bold;
 font-size: 15px;
}

/* CLASS: Customer Comments*/
.customerName

{
 color: Gray;
 font-family: Roboto;
  font-size: 12px;
}

/* CLASS: Customer Reservation Name*/
.reservationName

{
 color: Black;
 font-family: Roboto;
 font-weight: Bold;
  font-size: 12px;
}

/* CLASS: Customer Reservation Day*/
.reservationDay

{
 color: Gray;
 font-family: Roboto;
  font-size: 12px;
}

/* CLASS: Input Form Label*/
.inputLabel

{
 color: Black;
 font-family: Roboto;
 font-weight: Bold;
  font-size: 12px;
}

/* CLASS: Weather Data from OpenWeather API*/
.weatherData

{

font-weight: Bold;

}

/* CLASS: Powered by Information & Branding*/
.poweredBy

{
color: Gray;
font-size: 9px;

}

/* CLASS: Trashcan Glyph icon style*/
.delete

{
font-size: 11px;
color: Gray;
}


#resultPanel

{

display:none;
}